/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Asterisk wildcard selector to override default style added by the browser */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Define custom fonts and color palette */
:root {
  /* Fonts */
  --font-family: 'Open Sans', sans-serif;
  --heading-font: 'Roboto', sans-serif;

  /* Colors */
  --background-color: #96a0a0;
  --font-color: #3a3a3a;
  --button-color: #f5f5f5;
  --button-bg: hsl(0, 0%, 60%);
  --quiz-container: #96a0a0;
}

/* General style */
body {
  justify-content: center;
  height: 100vh;
  display: flex;
  text-align: center;
  flex-direction: column;
  color: var(--font-color);
  font-family: var(--font-family);
}
h1 {
  margin: 1rem auto;
}
.quiz-container {
  margin: 0 auto;
  width: 80%;
}

.flag-display {
  margin: 1rem auto;
}
#flag-image {
  width: 50%;
  height: 100px;
  max-width: 300px;
  border-radius: 30px;
  border: 1px solid #3a3a3a;
}

.game-area {
  background: var(--quiz-container);
  box-sizing: border-box;
  padding: 4px;
  margin: 8px;
  border-radius: 2rem;
  width: 75%;
  height: 80vh;
  max-height: 400px;
  max-width: 800px;
  margin: auto;
}

h2 {
  margin: 1rem;
}

.button {
  position: relative;
  padding: 1rem;
  margin: 8px;
  box-shadow: 0 4px 6px var(--button-color);
  border-radius: 0.5rem;
  font-size: 1.3rem;
  cursor: pointer;
  background-color: var(--button-bg);
}
