/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Asterisk wildcard selector to override default style added by the browser */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--main-font-family);
}

/* Define custom fonts and color palette */
:root {
  /* Fonts */
  --main-font-family: 'Open Sans', sans-serif;
  --heading-font: 'Roboto', sans-serif;

  /* Colors */
  --background-color: #96a0a0;
  --font-color: #3a3a3a;
  --smoke-white: hsl(0, 0%, 96%);
  --button-bg: rgba(209, 209, 250, 0.85);
  --tomato-color: hsl(9, 100%, 64%);
  --box-shadow: #33333319;
  --main-bg-color: hsl(240, 80%, 70%);
  --main-bg-hover: hsl(240, 80%, 60%);
  --timer-bg-color: hsl(240, 63%, 88%);
}

/* General style */
body {
  font-family: var(--heading-font);
}
.start-btn,
.info-box,
.quiz-box,
.result-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2),
    0px 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all 0.3s ease;
}

.info-box.active,
.quiz-box.activeQuiz,
.result-box.activeResult {
  z-index: 5;
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}

/* Start Quiz Button styling */
.start-btn button {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--main-bg-color);
  padding: 1rem;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: var(--smoke-white);
  cursor: pointer;
}

/* Info box */
.info-box {
  width: 95%;
  height: auto;
  max-width: 550px;
  background-color: var(--smoke-white);
  border-radius: 5px;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(0.5);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.info-box .info-title {
  font: italic 1rem var(--heading-font);
  height: 70px;
  width: 100%;
  border-bottom: 1px solid var(--smoke-white);
  display: flex;
  align-items: center;
  padding: 0 2rem;
  font-size: 1.3rem;
  font-weight: 600;
}

.info-box .info-title .fa-exclamation {
  color: var(--tomato-color);
  font-size: larger;
  font-weight: bolder;
}

.info-box .info-list {
  padding: 1rem 2rem;
  font-family: var(--main-font-family);
}

.info-box .info-list .info {
  margin: 10px 0;
  font-size: 1.2rem;
}

.info-box .info-list .info span {
  font-weight: 600;
  color: var(--main-bg-color);
}

.info-box .info-list .info i {
  color: var(--tomato-color);
  font-weight: 700;
}

.info-box .buttons {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: flex-end;
  padding: 0 2rem;
  border-top: 1px solid var(--button-bg);
}

.info-box .buttons button {
  margin: 0 5px;
  height: 3rem;
  width: 100px;
  outline: none;
  margin: 1.5rem 0;
  border: 1px solid var(--main-bg-color);
  color: var(--smoke-white);
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.4s ease;
}

.buttons button.start-game {
  color: var(--smoke-white);
  background: var(--main-bg-color);
}

.buttons button.start-game:hover {
  background-color: var(--main-bg-hover);
}

.buttons button.quit {
  color: var(--main-bg-color);
}
.buttons button.quit:hover {
  color: var(--smoke-white);
  background-color: var(--main-bg-color);
}

/* Quiz Box Styling */
.quiz-box {
  width: 95%;
  max-width: 550px;
  background: var(--smoke-white);
  border-radius: 5px;
  margin: 1rem auto;
  padding: 0.5rem;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(0.9);
}

.quiz-box .header-wrapper {
  height: 70px;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}

.quiz-box .header-wrapper .title {
  font-size: 1rem;
  font-weight: 600;
  margin-left: 1.5rem;
}

.quiz-box .header-wrapper .title i {
  color: goldenrod;
  margin-left: 0.5rem;
  font-size: 1.5rem;
}
.quiz-box .header-wrapper .timer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80px;
  height: 3rem;
  background: var(--timer-bg-color);
  border: var(--background-color);
  border-radius: 5px;
  padding: 0 5px;
  margin-right: 0.5rem;
}

.quiz-box .header-wrapper .timer .time-text {
  user-select: none;
}

.quiz-box .header-wrapper .timer .timer-sec {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--main-bg-color);
  text-align: center;
  border-radius: 5px;
  border: var(--box-shadow);
  user-select: none;
}

.flag-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 1rem 1rem;
}

#flag-image {
  width: 45%;
  height: 150px;
  border: 1px solid #3a3a3a;
}

.result .score {
  padding: 4px;
  margin: 0.5rem;
  text-align: center;
  justify-content: center;
}

.quiz-box section {
  background-color: var(--smoke-white);
}

.quiz-box section .question {
  font-size: 1.1rem;
  font-weight: 600;
  text-align: center;
}

.quiz-box section .option-list {
  padding-top: 1.4rem;
}

section .option-list .answer-button {
  border: 1px solid var(--font-color);
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin: 0 auto 1rem;
  display: block;
  justify-content: center;
  width: 80%;
  font-size: 1rem;
  cursor: pointer;
}

.option-list .answer-button:hover {
  background: hsl(0, 0%, 86%);
}

.right-answer {
  background: green;
  color: var(--smoke-white);
}

.right-answer:hover {
  /* Necessary to override conflicting styles */
  background: green !important;
}

.wrong-answer {
  background: red;
  color: var(--smoke-white);
}

.wrong-answer:hover {
  /* Necessary to override conflicting styles */
  background: red !important;
}

/* Quiz Footer */
.quiz-box footer {
  height: 65px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.quiz-box footer .total-que div {
  display: flex;
  user-select: none;
  margin-left: 1rem;
}

.quiz-box footer .total-que span {
  padding: 0 0.5rem;
}

footer #next-btn {
  padding: 0 1rem;
  height: 2rem;
  border: none;
  outline: none;
  background: var(--main-bg-color);
  color: var(--smoke-white);
  border-radius: 5px;
  border: var(--box-shadow);
  cursor: pointer;
  margin-right: 1rem;
}

/* Result box */
.result-box {
  background-color: var(--smoke-white);
  width: 95%;
  max-width: 550px;
  padding: 25px 30px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(0.9);
}

.result-box .icon {
  font-size: 100px;
  color: gold;
  margin-bottom: 1rem;
}

.result-box .complete-text {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 1rem;
}

.result-box .score-text span {
  display: flex;
  font-size: 20px;
  margin: 10px 0;
  align-items: center;
}

.result-box .buttons {
  display: flex;
  margin: 20px 0;
}

.result-box .buttons button {
  margin: 0 12px;
  height: 45px;
  padding: 0 20px;
  border: none;
  outline: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  border: 1px solid var(--font-color);
  cursor: pointer;
  transition: all 0.3s ease;
}

/* 404 page */
#section-404 {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  justify-content: center;
  margin-top: 3rem;
  padding: 1rem;
}

#section-404 h1 {
  margin-bottom: 1rem;
}